.turquoise {
  background-color: #1abc9c;
  color: #fff;
}

.emerald {
  background-color: #2ecc71;
  color: #fff;
}

.peter-river {
  background-color: #3498db;
  color: #fff;
}

.amethyst {
  background-color: #9b59b6;
  color: #fff;
}

.wet-asphalt {
  background-color: #34495e;
  color: #fff;
}

.green-sea {
  background-color: #16a085;
  color: #fff;
}

.nephritis {
  background-color: #27ae60;
  color: #fff;
}

.belize-hole {
  background-color: #2980b9;
  color: #fff;
}

.wisteria {
  background-color: #8e44ad;
  color: #fff;
}

.midnight-blue {
  background-color: #2c3e50;
  color: #fff;
}

.sun-flower {
  background-color: #f1c40f;
  color: #fff;
}

.carrot {
  background-color: #e67e22;
  color: #fff;
}

.alizarin {
  background-color: #e74c3c;
  color: #fff;
}

.clouds {
  background-color: #ecf0f1;
  color: #000;
}

.concrete {
  background-color: #95a5a6;
  color: #fff;
}

.orange {
  background-color: #f39c12;
  color: #fff;
}

.pumpkin {
  background-color: #d35400;
  color: #fff;
}

.pomegranate {
  background-color: #c0392b;
  color: #fff;
}

.silver {
  background-color: #bdc3c7;
  color: #000;
}

.asbestos {
  background-color: #7f8c8d;
  color: #fff;
}
